.container-smartphone{
    width: 375px;
    height: 812px;
}

h1 {
    text-align: center;
}

.opciones{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual tamaño */
    grid-gap: 20px; /* Espacio entre las columnas */
    margin-left: 30px;
}

.ultima-opcion{
    margin-left: 95px;
}

